*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}
:root{
    --after-content:'2';
}
body{
    background: rgb(249, 242, 230);

    z-index: -1;
}
.logo img, nav img{
    height: 3rem;
}
a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.logo h1{
    font-size: 4rem;
    font-family: 'Square Peg', cursive;

}
button{
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

/* header styling  */
.main-head{
    
    background: white;
    position: sticky;
    top: 0px;
    z-index: 3;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.1), 0px 20px 20px rgb(0,0,0,0.1) ;

}
nav {
    display: flex;
    width: 90%;
    margin: auto; 
    padding: 2rem;
    min-height: 15vh;
    align-items: center;
    flex-wrap: wrap;

}
nav .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex: 1 1 40rem;
}
nav ul{
    display: flex;
    flex: 2 1 40rem;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
nav ul li{
    font-size: 1.2rem;
}


ul{
    list-style: none;
}

.shopping-cart h2{
    font-size: x-large;
    padding: 15px 10px;
    font-weight: normal;
    text-align: left;


}
.shopping-cart img{
    height: 4rem;

}
.shopping-icon {
    height: 4rem;
    position: absolute;
    top: 3.5rem;
    left: 135rem;
} 
.whole-cart-window{
    background: white;
    position: fixed;
    top: 15vh;
    right: 16.5rem;
    width: 22%;
    display: flex;
    flex-direction: column;
    text-align: right;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.1), 0px 20px 20px rgb(0,0,0,0.1) ;
    

    
}
.cart-wrapper{
    overflow-y: auto;
    max-height: 350px;
}
.cart-item{
   display: grid;
   grid-template-columns: 3fr 6fr 1fr;
   padding: 5% 2%;
   border-bottom: solid 1px lightgrey;
}
.subtotal{
    text-align: right;
    padding: 5%;
}
.checkout,.view-cart{
    width: 95%;
    text-align: center;
    cursor: pointer;
    background: goldenrod;
    font-size: medium;
    margin: 10px auto;
    padding: 10px 15px;

}
.view-cart{
    background: white;
    border: .2rem solid goldenrod;
    color: black;
}
.cancel span{
    cursor: pointer;
}
.cart-item{
    text-align: left;
}

.cart-item img{
    width: 100%;
    height: 90%;
}
.cart-item .details{
    padding-left: 10%;
}
.cart-item h3{
    text-align: left;
    margin-bottom: 5%;
}
.cart-item .price{
    display: block;
    text-align: right;
    margin-top: 35%;
}
.quantity{
    display: block;
    margin-top: 5%;
}
.fa-window-close{
    color: goldenrod;
}
.cancel{
    text-align: right;
}
.details input{
    border: none;

}
.hide{
    display: none;
}
.non-empty::after{
    content: var(--after-content);
    font-size: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -30px;
    right: 10%;
    background: red;
    border-radius: 50%;
}
/* Contact Styling  */
#contact{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),transparent),url("./img/lwh\'s\ Shop.jpg"); 
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-wrapper{
    width: 60%;
    background: rgba(19, 28, 39,0.8);
    color: white;
    border-radius: 20px;
    
}
.form-head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    padding: 4rem;
}
.name-form,.email-form, .message-form{
    padding: 3rem;
    text-align: center;
}
.message-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper label{
   
    margin: 0rem 3rem;
    font-size: 1.7rem;

}

.form-wrapper button{
    width: 100%;
    margin-top: 8rem ;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}
.form-wrapper button:hover{
    background: rgb(30, 56, 102);

}


.form-wrapper input{
    padding: 1rem 3rem;
}

/* Footer Styling  */
footer{
    color: white;
    background: black;
}
.footer-wrapper {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}
.footer-logo{
    display: flex;
    flex: 1 1 20rem;
    align-items: center;

}
.footer-logo #footer-brand{
    font-family: 'Square Peg', cursive;
    font-size: 4rem;


}
.footer-logo img{
    height: 4rem;
    
    
}
.social-media{
    display: flex;
    align-items: center;

}

.social-media img{
    height: 4rem;
    margin: 2rem;

}





